In [1]:
import pandas as pd

In [2]:
submission = pd.read_csv('submission_py.csv')
test = pd.read_csv('test.csv')
train = pd.read_csv('train.csv')

In [3]:
test['TotalSF'] = test['TotalBsmtSF'] + test['1stFlrSF'] + test['2ndFlrSF']
train['TotalSF'] = train['TotalBsmtSF'] + train['1stFlrSF'] + train['2ndFlrSF']

In [8]:
top_ten = submission.nlargest(10, 'SalePrice')

In [9]:
test_top_ten = test[test['Id'].isin(top_ten['Id'])][['Id', 'OverallQual', 'GrLivArea', 'TotalSF', 'Neighborhood']]

In [10]:
top_ten_merged = pd.merge(top_ten, test_top_ten, on='Id')

In [11]:
top_ten_merged

     Id      SalePrice  OverallQual  GrLivArea  TotalSF Neighborhood
0  2025  657265.260898            9       2786   4634.0      NoRidge
1  2683  657216.169873            9       3500   5233.0      NoRidge
2  2681  634085.944274            9       2855   4395.0      NoRidge
3  2332  626194.314665            9       3078   4486.0      NoRidge
4  1480  541268.780476            9       2696   5542.0      NridgHt
5  2629  536680.409087           10       3390   4918.0      StoneBr
6  1997  531188.444773            9       2172   3691.0      NoRidge
7  1664  513762.957276           10       2674   5304.0      NridgHt
8  2264  506003.435864            9       2338   4998.0      StoneBr
9  2631  503198.126497           10       2698   4548.0      StoneBr